<div class="card glass-card border-dark">
  <div class="d-flex card-header bg-warning justify-content-around ">
    <h3 class="m-0">Edit Score</h3>
  </div>
  <div class="card-body d-flex flex-column">
    <%= render 'score_form', score: @score %>
    <%= button_to 'View my scores', scores_path, method: :get, class:"btn btn-primary mt-2" %>
    <% if admin? %>
      <%= button_to 'View all scores', admin_scores_scores_path, method: :get, class:"btn btn-info mt-2" %>
    <% end %>
  </div>
</div>