/*
 *= require_tree .
 *= require_self
 *= require header
 */

 html, body {
  height: 100%;
  margin: 0;
 }
 body {
  min-height: 100vh;
 }
h1, h2, h3, h4, h5, a {
  font-family: 'Nunito Sans', sans-serif;
}
.hero-color {
  color: #2acab8;
}
.hero-border {
  border-color: #1786cf;
  border-width: 2px;
}
.text-shadow {
  text-shadow: .5px .5px white;
}
.hero-color1 {
  background-color: #1B3C53;
}
.hero-color2{
  background-color: #234C6A;
}
.card-header.hero-color3 {
 background-color: #3d4850;
}
.hero-color4 {
  background-color: #E9DAD1;
}
.active-link {
  background-color: #2acab8 !important;
  font-color: white;
}
.success-btn {
  background-color: #2acab8;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}
.warning-btn {
  background-color: #9f7c08;
  color: black;
  border-radius: 5px;
  padding: 4px 8px;
  border: none;
}
.nav-pills .nav-link.active {
  background-color: var(--hero-color-bg, #2acab8) !important; /* Use your color */
  color: var(--hero-color-text, #333) !important; /* Set text color */
}
.nav-pills .nav-link {
  /* Set the text color for inactive tabs */
  color: #2acab8; /* A light grey for contrast against a dark background */
} 