/*
 *= require_tree .
 *= require_self
 *= require header
 */

h1, h2, h3, h4, h5, a {
  font-family: 'Nunito Sans', sans-serif;
}
.hero-color {
  color: #1785cf;
}
.hero-border {
  border-color: #1786cf;
  border-width: 2px;
}
.text-shadow {
  text-shadow: .5px .5px white;
}